{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/opportunity.css' %}">
{% endblock stylesheet %}
{% block fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap"
          rel="stylesheet">
{% endblock fonts %}
{% block content %}
    <img src="{{ opportunity.image.url }}"
         alt="{{ opportunity.title }}"
         width="167"
         height="111"
         class="opportunity-img">
{% endblock content %}
