{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/opportunity.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock stylesheet %}
{% block fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap"
          rel="stylesheet">
{% endblock fonts %}
{% block content %}
    <img src="{{ opportunity.image.url }}"
         alt="{{ opportunity.title }}"
         width="393"
         height="300"
         class="opportunity-img">
    <h1 class="title montserrat-bold">{{ opportunity.title }}</h1>
    <h3 class="num-volunteers khula-semibold">
        {{ opportunity.numSignedVolunteers }}/{{ opportunity.numTotalVolunteers }} people have signed up
    </h3>
    <h3 class="distance khula-semibold">{{ opportunity.distanceFromUserKilometers }}km from you</h3>
    <p class="description khula-semibold">{{ opportunity.description }}</p>
{% endblock content %}
