{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% block meta_description %}Default description for my volunteering app.{% endblock meta_description %}">
        <meta name="keywords"
              content="volunteering, charity, community service, help, local events">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <nav class="bottom-nav">
            <a href="{% url 'opportunities:list' %}" class="nav-item active">
                <span class="icon">
                    <img width="48"
                         height="48"
                         src="{% static 'icons/home.svg' %}"
                         alt="Home"
                         class="nav-svg">
                </span>
            </a>
            <a href="#" class="nav-item">
                <span class="icon">👤</span>
            </a>
        </nav>
    </body>
</html>
