{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock stylesheet %}
{% block fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap"
          rel="stylesheet">
{% endblock fonts %}
{% block content %}
    <div class="flex-col">
        <div class="streak-section">
            <img width="200"
                 height="200"
                 class="streak"
                 src="{% if streak > 0 %}{% static 'icons/streak-active.svg' %}{% else %}{% static 'icons/streak-inactive.svg' %}{% endif %}"
                 alt="{% if streak > 0 %}Streak active{% else %}Streak inactive{% endif %}">
            <h1 class="streak-text montserrat-bold">{{ streak }} week streak</h1>
        </div>
        <h2 class="title montserrat-bold">Upcoming Opportunities</h2>
        <ul>
            {% for opportunity in upcoming_opportunities %}
                <li>
                    <a href="{% url 'opportunities:opportunity' opportunity.pk %}"
                       class="opportunity">
                        <div class="opportunity-col-1">
                            <div class="opportunity-details">
                                <h3 class="num-volunteers khula-semibold">
                                    <img width="16"
                                         height="16"
                                         src="{% static 'icons/volunteers-dark.svg' %}"
                                         alt="Number of volunteers">
                                    {{ opportunity.num_signed_volunteers }}/{{ opportunity.num_total_volunteers }}
                                </h3>
                                <h3 class="distance khula-semibold">
                                    <img width="16"
                                         height="16"
                                         src="{% static 'icons/map-pin-dark.svg' %}"
                                         alt="Distance from you">
                                    {{ opportunity.distance_from_user_km }}km
                                </h3>
                            </div>
                            <h2 class="opportunity-title montserrat-bold">{{ opportunity.title }}</h2>
                        </div>
                        <div class="opportunity-col-2">
                            <img src="{{ opportunity.image.url }}"
                                 alt="{{ opportunity.title }}"
                                 width="103"
                                 height="68"
                                 class="opportunity-img">
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <h2 class="title montserrat-bold">Completed Opportunities</h2>
        <ul>
            {% for opportunity in completed_opportunities %}
                <li>
                    <a href="{% url 'opportunities:opportunity' opportunity.pk %}"
                       class="opportunity">
                        <div class="opportunity-col-1">
                            <div class="opportunity-details">
                                <h3 class="completion-date khula-semibold">
                                    <img width="16"
                                         height="16"
                                         src="{% static 'icons/volunteers-dark.svg' %}"
                                         alt="Completion date">
                                    Completed on {{ opportunity.opportunity_date }}
                                </h3>
                            </div>
                            <h2 class="opportunity-title montserrat-bold">{{ opportunity.title }}</h2>
                        </div>
                        <div class="opportunity-col-2">
                            <img src="{{ opportunity.image.url }}"
                                 alt="{{ opportunity.title }}"
                                 width="103"
                                 height="68"
                                 class="opportunity-img">
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
