{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock stylesheet %}
{% block fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap"
          rel="stylesheet">
{% endblock fonts %}
{% block content %}
    <div class="flex-col">
        <div class="streak-section">
            <img width="200"
                 height="200"
                 class="streak"
                 src="{% static 'icons/streak-inactive.svg' %}"
                 alt="Streak inactive">
            <h1 class="streak-text montserrat-bold">0 week streak</h1>
        </div>
        <h2 class="upcoming-title montserrat-bold">Upcoming Opportunities</h2>
        <ul>
            {% for opportunity in opportunities %}
                <li>
                    <div class="opportunity">
                        <div class="opportunity-col-1">
                            <div class="opportunity-details">
                                <h3 class="num-volunteers khula-semibold">
                                    <img width="16"
                                         height="16"
                                         src="{% static 'icons/volunteers-dark.svg' %}"
                                         alt="Number of volunteers">
                                    {{ opportunity.numSignedVolunteers }}/{{ opportunity.numTotalVolunteers }}
                                </h3>
                                <h3 class="distance khula-semibold">
                                    <img width="16"
                                         height="16"
                                         src="{% static 'icons/map-pin-dark.svg' %}"
                                         alt="Distance from you">
                                    {{ opportunity.distanceFromUserKilometers }}km
                                </h3>
                            </div>
                            <h2 class="title montserrat-bold">{{ opportunity.title }}</h2>
                        </div>
                        <div class="opportunity-col-2">
                            <img src="{{ opportunity.image.url }}"
                                 alt="{{ opportunity.title }}"
                                 width="103"
                                 height="68"
                                 class="opportunity-img">
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
