{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/opportunity.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock stylesheet %}
{% block fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap"
          rel="stylesheet">
{% endblock fonts %}
{% block content %}
    <button onclick="window.history.back()" class="back-btn">
        <img width="24"
             height="24"
             src="{% static 'icons/back-arrow.svg' %}"
             alt="Back">
    </button>
    <img src="{{ opportunity.image.url }}"
         alt="{{ opportunity.title }}"
         width="393"
         height="300"
         class="opportunity-img">
    <h1 class="title montserrat-bold">{{ opportunity.title }}</h1>
    <h3 class="num-volunteers khula-semibold">
        <img width="32"
             height="32"
             src="{% static 'icons/volunteers-light.svg' %}"
             alt="Number of volunteers">
        {{ opportunity.num_signed_volunteers }}/{{ opportunity.num_total_volunteers }} people have signed up
    </h3>
    <h3 class="distance khula-semibold">
        <img width="32"
             height="32"
             src="{% static 'icons/map-pin-light.svg' %}"
             alt="Distance from you">
        {{ opportunity.distance_from_user_km }}km from you
    </h3>
    <p class="description khula-semibold">{{ opportunity.description }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit"
                class="{% if is_signed_up %}signed-up{% else %}sign-up{% endif %} montserrat-bold">
            {% if is_signed_up %}
                Registered
            {% else %}
                Sign Up
            {% endif %}
        </button>
    </form>
{% endblock content %}
