.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.streak-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.streak {
  align-self: center;
}

.streak-text {
  font-size: 32pt;
  color: #344e41;
  align-self: center;
}

.upcoming-title {
  font-size: 17pt;
  color: #344e41;
}

.opportunity-img {
  margin-left: -20px;
  margin-top: -20px;

  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

  border-bottom-color: #588157;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.title {
  text-align: center;
  color: #344e41;
  font-size: 24pt;
  margin-top: -3px;
  width: 100%;
}

.num-volunteers {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12pt;
  color: #344e41;
  text-align: center;
  margin-top: -15px;
}

.num-volunteers img {
  margin-top: -2px;
}

.distance {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12pt;
  color: #344e41;
  text-align: center;
  margin-top: -20px;
}

.distance img {
  margin-top: -2px;
}

.description {
  font-size: 10pt;
  color: #344e41;

  text-align: left;
  line-height: 1.4;

  width: 75%;
  margin: 20px auto;
}
