.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.streak-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.streak {
  align-self: center;
}

.streak-text {
  font-size: 32pt;
  color: #344e41;
  align-self: center;
}
