.flex-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.streak {
  margin-left: 37px;
}

.streak-text {
  font-size: 32pt;
  color: #344e41;
}
