ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.streak-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.streak {
  align-self: center;
}

.streak-text {
  font-size: 32pt;
  color: #344e41;
  align-self: center;
}

.upcoming-title {
  font-size: 17pt;
  color: #344e41;
}

.opportunity {
  display: flex;
  align-items: center;
  gap: 20px;

  background-color: #588157;
  color: #dad7cd;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;
}

.opportunity-details {
  display: flex;
}

.num-volunteers {
  font-size: 10pt;
  padding-left: 7px;
}

.distance {
  font-size: 10pt;
  padding-left: 7px;
}

.completion-date {
  font-size: 10pt;
  padding-left: 7px;
}

.opportunity-title {
  margin-top: -15px;
  margin-left: 10px;
}

.opportunity-img {
  border-radius: 10px;
  border: 5px solid #588157;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
