body {
  display: block;
}

.back-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;

  background-color: #344e41;
  color: #dad7cd;

  width: 40px;
  height: 40px;
  border-radius: 50%; /* Makes it a circle */

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #212c26;
}

.back-btn:active {
  transform: scale(0.96);
}

.opportunity-img {
  margin-left: -20px;
  margin-top: -20px;

  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

  border-bottom-color: #588157;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.title {
  text-align: center;
  color: #344e41;
  font-size: 24pt;
  margin-top: -3px;
  width: 100%;
}

.num-volunteers {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12pt;
  color: #344e41;
  text-align: center;
  margin-top: -15px;
}

.num-volunteers img {
  margin-top: -2px;
}

.distance {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12pt;
  color: #344e41;
  text-align: center;
  margin-top: -20px;
}

.distance img {
  margin-top: -2px;
}

.description {
  font-size: 10pt;
  color: #344e41;

  text-align: left;
  line-height: 1.4;

  width: 75%;
  margin: 20px auto;
}

.sign-up {
  /* Not sure why I need to write this twice, but otherwise button will not be centered */
  display: block;
  margin: 25px auto;

  width: 60%;
  padding: 12px 0;

  background-color: #588157;
  color: #dad7cd;

  font-size: 14pt;

  border-radius: 30px;
  border: none;
  cursor: pointer;

  transition: transform 0.1s ease;
}

.sign-up:hover {
  background-color: #3a5a40;
}

.sign-up:active {
  transform: scale(0.96);
}

.signed-up {
  /* Not sure why I need to write this twice, but otherwise button will not be centered */
  display: block;
  margin: 25px auto;

  width: 60%;
  padding: 12px 0;

  background-color: #3b553b;
  color: #dad7cd;

  font-size: 14pt;

  border-radius: 30px;
  border: none;
  cursor: pointer;

  transition: transform 0.1s ease;
}

.signed-up:hover {
  background-color: rgb(44, 67, 48);
}

.signed-up:active {
  transform: scale(0.96);
}
